:root {
  --bg-black: #373b41;
  --bg-red: #cc6a6a;
  --bg-yellow: #f0c674;
  --bg-green: #b5bd68;
  --bg-gray: #c5c8c6;

  --fg-black: #000000;
  --fg-white: #ffffff;
}

body {
  margin: 0;
}

th {
  text-align: left;
  background-color: var(--bg-gray);
}

tr.Black {
  color: var(--fg-white);
  background-color: var(--bg-black);
}

tr.Red {
  color: var(--fg-black);
  background-color: var(--bg-red);
}

tr.Yellow {
  color: var(--fg-black);
  background-color: var(--bg-yellow);
}

tr.Green {
  color: var(--fg-black);
  background-color: var(--bg-green);
}

td {
  padding: 2px 6px;
  vertical-align: middle;
}

td.action {
  text-align: center;
  vertical-align: middle;
}
