<!DOCTYPE html>
<html lang="en">
  <head>
    <title>snaffler-ui</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js" defer></script>
  </head>
  <body>
    <input type="checkbox" id="checkbox-sort" name="sort" {{ if .Sorted }}checked{{ end }}>
    <label for="checkbox-sort">sort</label>
    <input type="checkbox" id="checkbox-black" name="black" {{ if .ShowBlacks }}checked{{ end }}>
    <label for="checkbox-black">black</label>
    <input type="checkbox" id="checkbox-red" name="red" {{ if .ShowReds }}checked{{ end }}>
    <label for="checkbox-red">red</label>
    <input type="checkbox" id="checkbox-yellow" name="yellow" {{ if .ShowYellows }}checked{{ end }}>
    <label for="checkbox-yellow">yellow</label>
    <input type="checkbox" id="checkbox-green" name="green" {{ if .ShowGreens }}checked{{ end }}>
    <label for="checkbox-green">green</label>
    <table>
      <tr>
        <th>Host</th>
        <th>Type</th>
        <th>Color</th>
        <th>R/RW</th>
        <th>Path</th>
        <th>Context</th>
        <th>Action</th>
      </tr>
      {{ range .LogEntries }}
      <tr class="{{ .Triage }}">
        <td>{{ .UserHost }}</td>
        <td>{{ .Type }}</td>
        <td>{{ .Triage }}</td>
        <td>{{ .Permission }}</td>
        <td>{{ .Path }}</td>
        <td>{{ .Context }}</td>
        <td class="action">
          {{ if eq .Type "[Share]" }}
          <button class="button-open">Open</button>
          {{ else if eq .Type "[File]" }}
          <button class="button-download">Download</button>
          {{ end }}
        </td>
      </tr>
      {{ end }}
    </table>
  </body>
</html>

